BACKEND_ADDRESS=backend
BACKEND_PORT=3000
CONTRACT_PORT=3000
CONTRACT_MONGODB_HOST=mongo
CONTRACT_MONGODB_PORT=27017
CONTRACT_MONGODB_USER=contractservice
CONTRACT_MONGODB_PASSWORD=password
CONTRACT_MONGODB_DATABASE=contracts
CONTRACT_MONGODB_COLLECTION=contracts
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=contracts
PROXY_OIDC_METADATA_URL=https://identity.gaia-med.org/idp/.well-known/openid-configuration

# The following settings need to be adjusted
BACKEND_SERVICE_ID=
PROXY_OIDC_CLIENT_ID=
PROXY_OIDC_CLIENT_SECRET=
PROXY_OIDC_REDIRECT_URI=
PROXY_OIDC_CRYPTO_PASSPHRASE=change-me
