CONTRACT_MONGODB_HOST=mongo
CONTRACT_MONGODB_PORT=27017
CONTRACT_MONGODB_USER=contractservice
CONTRACT_MONGODB_PASSWORD=password
CONTRACT_MONGODB_DATABASE=contracts
CONTRACT_MONGODB_COLLECTION=contracts